# Variables para conectar el backend a MariaDB
DB_URL=jdbc:mariadb://localhost:3306/inmobiliaria?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
DB_USER=inmobiliaria
DB_PASSWORD=inmobiliaria
DB_DRIVER=org.mariadb.jdbc.Driver
